<script id="fullTrackModalContent.html" type="text/ng-template">
  <div class="modal-header">
      <h2 class="modal-title">Rastreamento Completo</h2>
  </div>

  <div class="panel panel-primary filterable">
     <div class="panel-heading">
         <h3 class="panel-title">Pacote: {{ code }}</h3>
         <i class="fa fa-spinner fa-pulse fa-2x" ng-show="events.eventChecking"></i>
     </div>
     <table class="table">
         <thead>
             <tr class="filters">
                 <th><input id="packageData" type="text" class="form-control" placeholder="Data" disabled></th>
                 <th><input id="packageLocal" type="text" class="form-control" placeholder="Local" disabled></th>
                 <th><input id="packageStatus" type="text" class="form-control" placeholder="Status" disabled></th>
             </tr>
         </thead>
         <tbody>
             <tr ng-repeat="event in events">
                 <td>{{ event.date | date:'yyyy-MM-dd HH:mm' }}</td>
                 <td>{{ event.city }} ({{ event.uf }})</td>
                 <td>
                 <span class="label" ng-class="((event.status == 1) && (event.type === 'BDE')) ? 'label-success' : 'label-warning'">{{ ((event.status == 1) && (event.type === 'BDE')) ? 'Recebido' : 'Acompanhando' }}</span>
                 {{ event.description }}</td>
             </tr>
         </tbody>
     </table>
  </div>

  <div class="modal-footer">
      <button class="btn btn-primary" ng-click="close()">Fechar</button>
  </div>
</script>
