<div class="content">
	<div ng-controller="gerenciadorPacotes">
		<form method="GET" name="rastreamento" target="popup">

			<input type="text" class="lg txtForm" name="P_COD_UNI" id="pcode-field" rows="1" size="14" wrap="VIRTUAL" ng-model="P_COD_UNI" placeholder="insira aqui o codigo de rastreamento" />
			<button ng-click="searchCod(P_COD_UNI)" ng-disabled="!P_COD_UNI" class="bt" >Buscar Pacote</button>
		</form>

		<div ng-repeat="etapa in etapas">
			<table>
				<thead class="table">
					<th class="table tb-width"><p class="text def">Criado em:</p></th>
					<th class="table tb-width"><p class="text def">Localização:</p></th>
					<th class="table tb-width"><p class="text def">Status:</p></th>
				</thead>
				<tbody>
					<tr class="table">
						<td class="table tb-width"><p class="text def">{{etapa.createdAt}}</p></td>
						<td class="table tb-width"><p class="text def">{{etapa.location}}</p></td>
						<td class="table tb-width"><p class="text def">{{etapa.status}}</p></td>
					</tr>
				</tbody>
			</table>


		</div>


		<div class="container box" ng-controller="adicionarPacotes">
			<div>
				<fieldset class="fd">
					<legend class="text def"> Novo Pacote</legend>
						<input type="text" class="txtForm" ng-model="novoPacote">
						<input type="button" value="Cadastrar" ng-disabled="!novoPacote" class="bt" ng-click="addPacote(novoPacote, codigoPacote)">
				</fieldset>
			</div>

			<div class="box">
				<ul>
					<li ng-repeat="newPacote in pacotes">
						<div class="box-result">
							<input type="text" id="editCodigo" class="txtForm" ng-disabled="!newPacote.editando" ng-model="newPacote.nome">
							<input type="button" value="Editar" class="bt" ng-click="newPacote.editando = !newPacote.editando">
							<input type="button" value="Excluir" class="bt" ng-click="deletePacote(codigoPacote)">
						</div>
					</li>
				</ul>

			</div>

		</div>
	</div>
</div>
