	<div class="content">
		<h1 class="main-title">Gerenciador de Pacotes</h1>
		<h2 class="section-title">Para acessar, faça o login ou <a href="" class="link">clique aqui</a> para cadastrar</h2>

		<div class="container" ng-controller="MainCtrl">			
			<form name="form" ng-submit="validate(login,senha);">			
				<div class="lg">
					<p class="text def"><b>Login de acesso: </b></p>
					<input type="text" class="txtForm" ng-model="login">
				</div>
				<div class="lg">
					<p class="text def"><b>Senha: </b></p>
					<input type="password" class="txtForm" ng-model="senha">
					<a href="#url" class="text link"><b>Recuperar Senha</b></a>
				</div>
			<input type="submit" value="Acessar" ng-disabled="!login || !senha" class="bt">
			</form>
		</div>

	</div>
