<div class="container">
  <div class="panel panel-primary filterable">
      <div class="panel-heading">
          <h3 class="panel-title">Usuários</h3>
      </div>
      <table class="table">
          <thead>
              <tr class="filters">
                  <th><input id="userName" type="text" class="form-control" placeholder="Nome" disabled></th>
                  <th><input id="userEmail" type="text" class="form-control" placeholder="Email" disabled></th>
                  <th><input id="userPermission" type="text" class="form-control" placeholder="Permissões" disabled></th>
                  <th><input id="userEdit" type="text" class="form-control" disabled></th>
                  <th><input id="userDelete" type="text" class="form-control" disabled></th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="user in users">
                  <td>{{ user.name }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.authorities }}</td>
                  <td class="search">
                    <button class="btn glyphicon glyphicon-edit" ng-click="openEditPackage(package)"></button>
                  </td>
                  <td class="delete">
                    <button class="btn btn-danger" ng-click="deletePackage(package)" aria-label="remove">X</button>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
